// Imports

@import "reset.css"
@import "bourbon"
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700)


// Variables

$font: Oswald, sans-serif

$black: #000
$white: #fff

$dark: #333
$light: #999

$red: #8d2c2c
$green: #68862d
$blue: #2d6f99
$yellow: #a3881a
$orange: #a66d00
$purple: #764787


// Elements

html
  height: 100%

body
  background-color: $dark
  font:
    family: $font
    size: 10px
  height: 100%
  padding: 25px
  +box-sizing(border-box)


// Groups

.group
  height: 33.333333%
  +clearfix


// Modules

.module
  float: left
  height: 100%
  padding: 5px
  +box-sizing(border-box)

.content
  box-shadow: 0 1px 2px rgba($black, .3)
  color: rgba($white, .8)
  height: 100%
  text-shadow: 0 1px 5px rgba($black, .3)
  +box-sizing(border-box)

.title
  background-color: rgba($black, .1)
  font-size: 4em
  margin-bottom: 1em
  overflow: hidden
  padding: .5em
  text:
    overflow: ellipsis
    transform: uppercase
  white-space: nowrap
  width: 100%
  +box-sizing(border-box)

.body
  text-align: center

  [data-type="number"] &
    font:
      size: 12em
      weight: 400

// Sizes

.module

  &[data-size="100"]
    width: 100%

  &[data-size="75"]
    width: 75%

  &[data-size="50"]
    width: 50%

  &[data-size="25"]
    width: 25%


// Colors

.content

  [data-color="red"] &
    +background(linear-gradient(top, $red 0, lighten(saturate($red, 50%), 5%) 100%))

  [data-color="green"] &
    +background(linear-gradient(top, $green 0, lighten(saturate($green, 50%), 5%) 100%))

  [data-color="blue"] &
    +background(linear-gradient(top, $blue 0, lighten(saturate($blue, 50%), 5%) 100%))

  [data-color="yellow"] &
    +background(linear-gradient(top, $yellow 0, lighten(saturate($yellow, 50%), 5%) 100%))

  [data-color="orange"] &
    +background(linear-gradient(top, $orange 0, lighten(saturate($orange, 50%), 5%) 100%))

  [data-color="purple"] &
    +background(linear-gradient(top, $purple 0, lighten(saturate($purple, 50%), 5%) 100%))


// Media Queries

@media (max-width: 1440px)

  body
    font-size: 9px

  .title
    margin-bottom: .8em

@media (max-width: 1280px)

  body
    font-size: 8px

  .title
    margin-bottom: .8em

@media (max-width: 1024px)

  .title
    margin-bottom: 1em
